
Contacts/.gradle/6.1.1/executionHistory/executionHistory.bin
Contacts/.gradle/6.1.1/executionHistory/executionHistory.lock
Contacts/.gradle/6.1.1/fileHashes/fileHashes.bin
Contacts/.gradle/6.1.1/fileHashes/fileHashes.lock
Contacts/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Contacts/.gradle/buildOutputCleanup/cache.properties
*.bin
*.bin
*.lock
